/* Notifications List Container */
.notifications-container {
    max-width: 700px;
    margin: 20px auto;
    margin-top: 300px;
    padding: 40px;
    background: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 500px;
    /* Fixed height */
    overflow-y: auto;
    /* Enable vertical scrolling */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Scrollbar Customization */
.notifications-container::-webkit-scrollbar {
    width: 8px;
}

.notifications-container::-webkit-scrollbar-thumb {
    background-color: var(--border-grey);
    border-radius: 4px;
}

.notifications-container::-webkit-scrollbar-track {
    background: var(--light-grey);
}

/* Each Notification Item */
.notification-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--border-white);
    transition: background 0.2s ease-in-out, transform 0.2s;
    cursor: pointer;
    position: relative;
    width: 100%;
}

.notification-item:hover {
    background: var(--light-blue);
    transform: scale(1.02);
}

/* Profile Picture */
.notif-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
    border: 2px solid var(--submit-btn);
}

/* Notification Content */
.notif-content {
    flex: 1;
}

.notif-message {
    font-size: 0.9rem;
    color: var(--content-grey);
    margin: 0;
}

.notif-time {
    font-size: 0.75rem;
    color: var(--light-grey);
}

/* Close Button */
.notif-close {
    background: none;
    border: none;
    color: var(--grey-mr);
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.2s ease-in-out;
}

.notif-close:hover {
    color: var(--white);
}

/* No Notifications Message */
.no-notifications {
    text-align: center;
    color: var(--grey-mr);
    padding: 20px;
    font-size: 1rem;
    font-weight: 600;
}

/* Error Message */
.error-msg {
    text-align: center;
    color: var(--red-color);
    padding: 20px;
}