.profile-card {
    position: relative;
    background: var(--white);
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 2px 8px var(--navBar-shadow);
    /* negative margin pulls the card "up" */
    display: inline-block;
    width: 100%;
    /* Keep some spacing at bottom just in case */
    margin-bottom: 2rem;
    min-height: 400px;
    margin-top: 80px;
}

/****** Align post content to left 
(remove center behaviour of container) ******/
#profileDynamicContent {
    text-align: left;
    color: var(--dark-grey);
    transition: opacity 0.1s ease-out, transform 0.1s ease-out;
}

/******************** profile Tabs **************************/
/* ======= profile Tab Bar ======= */
.profile-tab-bar {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    max-width: 200px;
    background: var(--white);
    display: flex;
    justify-content: space-around;
    border-radius: 6px;
    padding: 10px 0;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0 4px 10px var(--navBar-shadow);
    z-index: 999;
    margin-bottom: 50px;
}

/* ======= profile Tab Buttons ======= */
.profile-tab-btn {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    color: var(--content-grey);
    transition: all 0.3s ease;
}

.profile-tab-txt {
    font-family: "Zain";
    font-size: 18px;
}

.profile-tab-btn img {
    width: 20px;
    margin-bottom: 5px;
    filter: invert(53%) sepia(50%) saturate(1500%) hue-rotate(175deg);
    transition: filter 0.3s ease;
}

/* Active Button */
.profile-tab-btn.active {
    background: var(--action-btn);
    border-radius: 6px;
    padding: 5px 20px;
    color: var(--content-grey);
}

.profile-tab-btn.active img {
    filter: invert(50%) brightness(50%);
}

/* ======= Dark Mode Support ======= */
:root.dark-mode .profile-tab-bar {
    background: #3a3f4b;
    box-shadow: 0 4px 10px var(--notif-shadow);
}

:root.dark-mode .profile-tab-btn {
    color: var(--light-grey);
}

:root.dark-mode .profile-tab-btn.active {
    background: var(--action-btn);
    color: var(--white);
}

.about-section {
    background: var(--white);
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--light-blue); /* Subtle bluish border */
    max-width: 500px;
    margin: auto;
    font-family: "Inter", sans-serif;
}

.about-section p {
    font-size: 1.3rem;
    color: var(--content-grey);
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Zain';
}

.about-section p strong {
    color: var(--title-color);
    font-weight: 600;
}

@media (max-width: 400px) {
    .about-section {
        padding: 1rem;
        max-width: 90%;
    }

    .about-section p {
        font-size: 0.95rem;
        flex-direction: column;
        align-items: flex-start;
    }
}
