<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../img/fav.png"
            type="image/x-icon">
        <title>dwi - Cooldown</title>
        <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
            color: #bdf;
            background-color: #102030;
        }
        #countdown {
            font-size: 24px;
            font-weight: bold;
            color: #66e0ff;
        }
        </style>
    </head>
    <body>
        <h1>Too Many Requests</h1>
        <p>Please wait before accessing the page again.</p>
        <p>Time remaining: <span id="countdown"></span></p>
        <script src="../js/cooldownpage.js"></script>
    </body>
</html>
